<div id="termx" class="mystyle container border border-dark">
  <h2 class="text-center mb-5">Leituras Concluídas</h2>
  <div class="row mt-3">
    <div class="col">
      <h4>Livro</h4>
    </div>
    <div class="col">
      <h4>Início</h4>
    </div>
    <div class="col">
      <h4>Fim</h4>
    </div>
    <div class="col">
      <h4>Nota</h4>
    </div>
  </div>
  <hr class="my-2" />
  {{#each leiturasTerminadas}}
    <div class="row">
      <div class="col">
        <p>{{livro}}</p>
      </div>
      <div class="col">
        <p>{{dateIni}}</p>
      </div>
      <div class="col">
        <p>{{dateFim}}</p>
      </div>
      <div class="col">
        <input type="hidden" data-tit="{{tit}}" id="ntbd" value="{{nota}}" />
        <div class="contStar">
          <a href="/leituras/nota/{{livro}}/1"><i
              class="{{tit}} star bi bi-star"
              data-nota="1"
            ></i></a>
          <a href="/leituras/nota/{{livro}}/2"><i
              class="{{tit}} star bi bi-star"
              data-nota="2"
            ></i></a>
          <a href="/leituras/nota/{{livro}}/3"><i
              class="{{tit}} star bi bi-star"
              data-nota="3"
            ></i></a>
          <a href="/leituras/nota/{{livro}}/4"><i
              class="{{tit}} star bi bi-star"
              data-nota="4"
            ></i></a>
          <a href="/leituras/nota/{{livro}}/5"><i
              class="{{tit}} star bi bi-star"
              data-nota="5"
            ></i></a>
        </div>
      </div>
    </div>
  {{/each}}
</div>